{% include 'header.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <!-- Approach -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Preprocessing</h6>
        </div>

        <div class="card-body">
            <h2>Proses Preprocessing</h2>
            <p>Silahkan klik tombol di bawah ini untuk melakukan proses preprocessing dengan
                menggunakan data file yang sudah di upload sebelumnya.</p>

            <form enctype="multipart/form-data" action="/preprocessing" method="POST">
                <div class="mt-3">
                    <button type="submit" name="" value="preprocessing" class="btn btn-primary">Preprocessing</button>
                </div>
                <br>
            </form>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Preprocessing</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cleanning</th>
                            <th>Labels</th>
                            <th>Normalisasi</th>
                            <th>Tokenized_Text</th>
                            <th>Stemmed_Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for table_row in table_rows %}
                        {{ table_row|safe }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% include 'footer.html' %}